* {
	margin: 0;
	padding: 0;
}
body {
	padding-top: 50px;
}
header {
	width: 100vw;
	position: absolute;
	top:0;
	left:0;
	height: 50px;
	background: black;
	color: white;
}
.content-wrapper {
	width: 1000px;
	margin:0 auto;
}
.left-menu {
	width: 15%;
	float: left;
}
.content {
	width: 60%;
	float: left;
}
.suggested {
	width: 25%;
	float: left;
}