* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
    box-sizing: border-box;
    background-image: url('img/1.jpg');
}

.body {
	background-size: cover;
	background-repeat: no-repeat;
}

.register-form {
    width: 60%;
  	margin: 60px auto;
  	text-align: center;
}