div {
	height:100px;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
	width:100px;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
	top:0;
	left: 0;
}
.fixed {
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
}
.background-red {
	background-color:red;
}
.background-green {
	background-color:green;
}
.background-blue {
	background-color:blue;
}
.background-purple {
	background-color:purple;
}
.background-pink {
	background-color:pink;
}
.float-left {
	float: left;
}