div{
	height:200px;
}
.block{
	display: block;

}

.inline-block{
	display: inline-block;
	width: 100px;

}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
	top: 0px;
	left: 0px;
}
.fixed{
	position: fixed;
	top: 0px;
	right:0px;
}
.background-red{
	background-color: red;
}
.background-blue{
	background-color: blue;
}
.background-green{
	background-color: green;
}
.background-pink{
	background-color: pink;
}
.background-purple{
	background-color: purple;
}
.float-left{
	float: left;
} 