.wrapper {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/background_register.jpg");
}

.register {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_left {
    height: 100%;
    text-align: center;
}

.hot {
    width: 40%;
    z-index: 99;
}

.left_title {
    transform: rotate(-25deg);
    font-size: 28px;
    position: absolute;
    left: 25%;
    top: 17%;
}

.old_phone img {
    width: 60%;
    left: 10%;
}

.price {
    color: deeppink;
    font-size: 35px;
    display: inline-block;
}

.customer_title {
    margin: 0;
    padding-bottom: 15px;
    padding-left: 10px;
}

.left_side,
.right_side {
    width: 300px;
    height: 300px;
}

.right_side {
    border-left: 0;
    margin-left: 30px;
}

.left_side {
    border-right: 0;
    position: relative;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group input {
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    color: white
}


.btnn {
    width: 50%;
    padding: 5px;
    background: transparent;
    border-radius: 10px;
    transition: background 1s ease, transform 1s ease;
}

.btnn:hover {
    background: darkred;
    transform: scale(1.05);
}

.buttons {
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    text-align: left;
    /*    justify-content: space-between;*/
}

.register_border {
    display: flex;
    border: 1px solid white;
    padding: 50px 25px;
    border-radius: 25px;
}


.register_account {
    margin-top: 10px;
    font-size: 13px;
    color: lightgray;
}
