@media (min-width: 768px) {
	.container-small {
		width: 600px;
	}
}
@media (min-width: 992px) {
	.container-small {
		width: 650px;
	}
}
@media (min-width: 1100px) {
	.container-small {
		width: 750px;
	}
}


.textAreaCuriosity {
    text-align: center;
    padding: 200px 200px;
    background: grey;
}

.container-fluid{
    height:60px;
}

 .fa-user-circle-o{
  font-size: 20px;
}


.bigButton{
	color: white;
	font-weight: bold;
	border-radius: 50%;
	border: 1px solid white;
	cursor:pointer;
	position: relative;
}


.navBarColor{
	background-color: #242b3f;
	height: 40px;
	
}

.navbar{
	border-radius: 0px;
	position: relative;

}

#startPlay{
	border-radius: 50%;
	padding: 10px;
	border: 3px solid white;
	margin-top: 7px;
	outline: none;
	background-color: #008CBA;
	color: white;
}

.text-center{
	width: 50px;
	position: absolute;
	left: calc(50% - 25px);
}




.fa-caret-down{
	font-size: 20px !important;
	padding-left: 5px;
	position: absolute;
	padding-top: 15px;
}	


.list-group-item{
	background-color: white; 
	border: none;
	color: black;
}

.goBig{
	font-size: 5px 0px;
}



.navbar-brand{
	color: white;
	font-size: 30px;
	padding-bottom: 0px;
	padding-left: 100px !important;
}


.dropdown-menu{
	background-color: white;
	position: fixed;
	top: 49px;
	right: 69px;
}

.dropdown{
	margin-right:40px;
}


.curiosityText{
   padding: 20px 50px;
   color: white;
   font-size: 20px;
	
}

.text{
	background-color: #242b3f;
	height: 100px;

}

.icons{
	height: 30px;
	background-color: #242b3f;
	border-top: 1px solid grey;
	color: white;
	text-align: center;
	padding-top: 5px;
	cursor:pointer;
}
.img{
	width: 100%;
}
.category{
	color: black;
	font-size: 25px;
	padding-bottom: 0px;
}
.curiosity{
	padding-bottom: 50px;
	border-bottom: 2px solid grey;
}

.curiosityText{
	text-align: center;
}
.comment-textarea {
	resize: none;
	width: 100%;
	margin-top: 10px;
}


.size{
	font-size: 20px !important;
}

.register{
	background-color: #242b3f;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	padding: 4px 10px;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 80px;
}

.navbar-nav>li>a.desktop-menu-icon{
	padding: 0;
	padding-top: 3px;
}


.submitButton{
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	background-color: #242b3f;

}

.login{
	background-color: #242b3f;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	padding: 4px 10px;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 20px;
}


/*register*/
/*.input-error{
	color: red;
}

.error{
    padding: 6px;
    color: #e6005c;
    border-radius: 5px;
    visibility: hidden;
}
.has-error .error {
	visibility: visible;
	animation: mymove 5s forwards;
}

@keyframes mymove {
    from {opacity: 1;}
    to {opacity: 0;}
}	*/


.navbar-right .dropdown-menu{
	position: fixed;
	right: 147px;
}

.nav>li {
	display: inline-block;
}
.sidebar {
    position: absolute;
    left: 20px;
    top: 90px;
}