.col-md-1 {
	border:1px solid grey;
}
.col-md-4 {
	border:1px solid red;
}
@media (max-width: 1000px) {
	.col-md-1 {
		background:red;
	}
}
@media (max-width: 800px) and (min-width: 600px) {
	.col-md-1 {
		background:green;
	}
}
@media (max-width: 500px) {
	.col.md-1 {
		background: blue;
	}
}