*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.green-line{
	height: 5px;
	background-color: #76c38f;
}
.wrapper.color-burgundy{
	background-color: #290000;
}
.wrapper > div {
	max-width: 960px;
	margin: 0 auto;
}
.logo{
	display: inline-block;
}
.menu{
	color: white;
	float: right;
}
.menu .menu-item {
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 35px;
	padding: 7px 12px;
}
.menu .menu-item a{
	color: white;
	text-decoration:none;
}
.header{
	padding-top: 35px;
}
.menu-item.active,
.menu-item:hover {
	background:#76c38f;
	border-radius: 6px;
}
.wrapper .carousel{
	max-width: 840px;
}
.wrapper .carousel .left-content h1{
	color: #ffffff;
	font-size:42px;
}
.wrapper .carousel .left-content p{
	color: #979797;
	font-size: 12px;
}
.wrapper .left-content{
	display: inline-block;
	width: 350px;
	position: relative;
	bottom: -60px;

}
.wrapper .carousel .right-content{
	display: inline-block;
	margin-left: 95px; 
}
.wrapper .carousel .right-content img{
	border-radius: 50%;
	width: 380px;
	height: 380px;
	margin-top: 40px;
}
.row{
	background-color: #660000;
}
.card-info{
	background-color: white;
	text-align: center;

}
body{
	background-color: #660000;
}
.card-info:hover{
	background-color: #76c38f;
	color: white;
}

.line{
	background-color: #303030;
	height: 3px;
	position: relative;
	top: 20px;
	z-index: 10;
}
.latest span{
	position: relative;
	z-index: 20;
	background-color: #303030;
	color: #fff;
	padding: 3px 5px;
	font-size: 25px;
}
.latest{
	text-align: center;
}
.image-card span{
	width: 290px;
	position: absolute;
	left:calc((100% - 290px)/2);
	bottom: 0;
	background-color: rgba(0,0,0,0.6);

}