*{
	margin:0;
	padding:0;

}
.banner-wrapper {
	background-image: url('https://thumbs.dreamstime.com/b/female-teen-holding-smartphone-green-screen-sidewalk-town-wide-photo-100501245.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-left: 200px;



}
.banner-wrapper h1{
	color: #fff;
	font-size: 30px;
	font-style: italic;

}
.banner-wrapper p{
	color: black;
	font-size:20px;
	font-style: italic;
}
.banner-wrapper	.round-button{
	width:	40px;
	height:	40px;
	border-radius: 50%;
}
.banner-wrapper	.icon-apple	{
	background-color:	#38251a;
	border:	none;
	outline: none;
	background-image: url('http://pngimg.com/uploads/apple_logo/apple_logo_PNG19680.png');
	background-size: 25px;
	background-position: 7px;
	background-repeat:no-repeat;
}
.banner-wrapper	.icon-android	{
	background-color:	#38251a;
	border:	none;
	outline: none;
	background-image: url('https://png.icons8.com/color/180/android-os.png');
	background-size: 30px;
	background-position: 6px;
	background-repeat:no-repeat;
	
}


.banner-wrapper	.icon-windows	{
	background-color:	#38251a;
	border:	none;
	outline: none;
	background-image: url('https://seeklogo.com/images/W/windows-10-icon-logo-5BC5C69712-seeklogo.com.png');
	background-size: 22px;
	background-position: 8px;
	background-repeat:no-repeat;
	
}

.card-section	.card{
	margin-top:30px;
	margin-bottom:3px;
	width:33.333%;
	float:left;
	text-align: center;
}
.card-section	.card img{
	max-width: 100%;
	width:10%;
	background-color: green;
	border-radius: 50%;
	padding: 10px;
}
.card-section	.card .card-title{
	font-weight: bold;
	font-size:20px;
}

.card-section	.card .card-details{
	font-size:15px;
}
.third-section	.left,
.third-section	.right{
	max-width:	50%;
	background-color: blue;
}
.third-section	.left{
	padding-top: 30px;
	padding-left: 50px;

}
.third-section	.left{
	color:	#848484;
	font-size: 13px;
	margin-bottom: 20px;

}

.third-section	.left input{
	border-radius: 6px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border:none;
	outline:none;
	font-size: 12px;
	float-left;
}
.third-section .left button {
	background-color: green;
	color: #fff;
	border-radius: 6px;
	border-top-left-radius: 0;
	border-top-left-radius: 0;
	outline: none;
	border:	none;
	height:28px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}

.square-button {
	border:none;
	outline: none;
	float:left;
}
