* {
	margin: 0;
	padding: 0;
}

.form-container {
	width: 500px;
	text-align: center;
	margin: 50px auto;
}

.input-container {
	margin-top: 15px 0;
}


.input-container input {
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 1px solid grey;
}

.input-container input:focus {
	border-color: blue;
}

.input-container .input-error {
	border-color: red;
	color: red;
}

