*{
	margin: 0px;
	padding: 0px;
}


.form-container{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	

}


.input-container{
	margin: 15px 0;

}

.input-container input{
	border:none;
	font-size: 15px;
	outline: none;
	border-bottom: 1px solid grey;
}

.input-container input:focus{
	border-color:blue;
}





.input-container  .input-error{
	color: red;
    border-color: red;
}