.logoBG {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.pull-right {
  list-style-type: none;
  padding-top: 5px;
}
.topNav {
  height: 60px;
}
li {
  display: inline-block;
}
button:hover{
  font-style: italic;
  color:white;
  text-decoration-line: none;
}
.search{
  padding-right:20px;
}
li .search { 
  border: 0 0 1px 0;
  text-decoration: none;
  border-radius: 20%;
}
.fa-search{
  position: relative;
  left: -20px;
}
.dropdown {
  display: inline-block;
}
.menu {
  margin-top: 10px;
}
.menu button {
  text-align: center;
  padding: 5px 10px;
}
.head {
  height: 60px;
}
.dropdown-menu {
  min-width: 20px;
  text-align: center;
}
.img-carousel {
  max-width: 500px;
  max-height: 500px;
  margin:0 auto;
}
#myCarousel {
  position: relative;
  max-height: 500px;
}
.product div {
  color: #fff;
  text-align: center; 
  background-color: #4F4664; 
}
.price {
  font-weight: bold;
  color: #C9F9FF;
  font-size: 25px;
}
.in-stock {
  color:#5DFDCB;
  min-height: 28px;
}
.out-stock {
  color:red;
  font-weight: bold;
  font-size: 20px;
}
