.banner-wrapper{
	background-image:url(https://images.pexels.com/photos/301599/pexels-photo-301599.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350" alt="Imagini pentru sun" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this));
	background-repeat:no-repeat;	
	background-size:cover;	
}
