.banner-wrapper{
	background-image:url(https://www.google.ro/search?biw=1440&bih=794&tbm=isch&sa=1&ei=VHQNW7OeJIansgH_y7iQAg&q=sun&oq=sun&gs_l=img.3..0i67k1l5j0j0i67k1j0l3.394331.394560.0.394809.3.3.0.0.0.0.144.377.0j3.3.0....0...1c.1.64.img..0.3.376....0.pzcaD89XAcM#imgrc=8NdszA20-CZoiM:);
	background-repeat:no-repeat;	
	background-size:cover;	
}
