h1{
	text-align: center;
	font-weight: bold;
}

img{
	width: 250px;

}

.img{
	text-align: center;
}


.navigation-bar{
    height: 30px;


}

ul li{
	list-style-type: none;
	float: left;
	padding-left: 65px;
    padding-right: 65px;
    text-decoration: underline;

}

.smallbody{
	width: 700px;
	border:4px solid black;
	margin: 0 auto;
	padding:0;
}

.left .right {
	max-width: 50%;
	float: left;

}