h1{
	background-color: yellow;
	text-align: center;

}

.body2 .left {
	float: left;
	text-align: left;
	width: 11.99%;
	


}


.body2 .center{
	float: left;
	text-align: left;
	width: calc(59.99% - 2px);
	border-left: 2px  green solid;
	padding-left: 10px;

}
.body2 .right {
	float: left;
	text-align: right;
	width: 12.3%;
	border: 2px dashed green;
	padding-right: 8px;
	margin-left: 195px;

}

.end{
	text-align: center;
    clear: both;
}

ul li	{ 
	list-style-type: none;
	color: blue;
	cursor: pointer;

}

ul {
	padding-left: 0;
}
