.col-md-1{
	background-color: red;
}
.col-md-2{
	background-color: black;
}
.col-md-3{
	background-color: purple;
}
.col-md-4{
	background-color: blue;
}
.col-md-5{
	background-color: orange;
}
.col-md-6{
	background-color: green;
}
.col-md-7{
	background-color: pink;
}
.col-md-8{
	background-color: cyan;
}
.col-md-9{
	background-color: azure;
}
.col-md-10{
	background-color: grey;
}
.col-md-11{
	background-color: aliceblue;
}
.col-md-12{
	background-color: brown;
}
@media (max-width: 1000px){
	.col-md-1{
		background-color: green;
	}
}
.img{
	float: left;
}