h1{
	color: red;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: green;


}
#heading1{
	color: black;
	size: 25px;
}
.heading1{
	font-size: 25px;
}
.heading2{
	color: blue;
	font-weight: normal;
}
p{
	color: green;
	font-size: 15px;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-color: red;
}
#para1{
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.para1{
	color: red;
	font-size: 18px;
	text-decoration: none;
}
.para2{
	font-size: 16px;
	color: blue;
	font-weight: bold;
}
.para3{
	font-size: 25px;
	color: purple;
	font-weight: italic;
	font-weight: lighter;
}
div div{
	float:left;
	height: 100px;
	background-color: yellow;
	height: 100px;	
}
#div1{
	width: 50%;
	background-color: red;
	color: white;
	font-size: 20px;
}
.div2{
	width: 50%;
	background-color: blue;
	color: green;
	font-size: 18px;
}
.div3{
	width: 25%;
	background-color: purple;
	color: black;
	font-size: 10px;
}
	
