.noPadding {
	padding: 0 !important;
}
.card-item2 {
	background-image: url(img/image2.png);
	background-repeat: none;
	background-size: cover;
}
.col-md-6 {
	background-color: #191818;
	text-align: center;
	color: #fff;
}
.row h2 {
	color: #eb563e;
}
.row a {
	text-decoration:none;
	color: #fff;
}
.bottom {
	margin-bottom: 50px;
}
.card-item2 img {
	transform: translateY(150%);
}