* {
	margin:0;
	padding:0;
}
body {
	background-image: url('IMG/background.jpg');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.login-form {
	width: 485px;
	background-color: #fff;
	margin: 0 auto;
	padding: 35px 60px;
	text-align: center;
}
.login-form h3 {
	color: #6b4896;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}
.login-form .login-inputs {
	border: none;
	border-bottom: 1px solid #6b4896; 
	outline: none;
	width: 100%;
	font-size: 14px;
	color: #a1a1a1;
	text-align: center;
	padding: 15px 0;
}
.login-form .username {
	background-image: url('IMG/logocap-2.jpg');
	background-repeat: no-repeat;
	background-position: 
}
.login-form.password {
	background-image: url('IMG/logocap-2.jpg');
	background-repeat: no-repeat;
	background-position: 20px center;
}
.login-form .login-button {
	font-size: 16px;
	color: #fff;


}