
body {
	width: 800px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	}

nav ul {
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
}


nav ul li {
	display: inline-block;
	color: #020202;
	font-size: 16px;
	font-weight: normal;	
}


.top-banner {
	position: relative;
	background-image: url('img/image2.png');
	height: 319px;
}

.top-banner button {
	position: absolute;
    right: 120px;
    bottom: 80px;
    font-size: 16px;
    color: #f9fbfc;
    background-color: transparent;
    border: 2px solid #f9fbfc;
    background-image: url('img/image3.png');
    background-repeat: no-repeat;
    background-position-x: 144px;
    background-position-y: center;
    padding: 9px 42px 9px 20px;

}

.top-banner p {
	position: absolute;
    right: 131px;
    bottom: 116px;
    font-size: 34px;
    color: #f9fbfc;
    background-color: transparent;
    font-style: italic;
    text-align: center;
}

.span {
	font-style: normal;
	font-size: 34px;
}


.col {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}


.item-section {
	width: 50%;
	float: left;
	height: 236px;
	text-align: left;
}

.item-section img {
	width: 100%;
	height: 100%;
}

h3 {
	font-size: 25px;
	margin-left: 50px;
	margin-right: 50px;

}

.item-section p {
	text-align: normal;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 13px;
}


.item-section button {
	margin-left: 50px;
	position: absolute;
	font-size: 7px;
	border-color: #ab7903;
	background-color: transparent;
	padding: 11px 11px 11px 11px;
	color: #ab7903;
	

}

.button {
	color: #fbfcfd;
	position: relative;
    font-size: 21px;
    background-color: #ab7903;
    background-repeat: no-repeat;
    background-image: url('img/image3.png');
    padding: 9px 60px 9px 20px;
    background-position-x: 184px;
    background-position-y: center;
    top: 20px;
 }


.collections {
	text-align: center;
}