.box {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-delay: RightToLeftInPercent;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

@keyframes RightToLeft {
	from {left: 0;}
	to {left: 200px;}
}

@keyframes RightToLeftInPercent {
	0% {left: 0;}
	25% {left: 200px;}
	50% {left: 200px;}
	75% {left: 200px;}
	100% {left: 200px;}
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	position: relative;
	animation-name: AnimationCircle;
	animation-duration: 10s;
}

@keyframes AnimationCircle {
	25% {
		width: 150px;
		height: 150px;
		background-color: green;
	}
	25% {
		left: 200px;
		background-color: purple;
	}
	50% {
		left: 200px;
		background-color: purple;
		opacity: 0.2;
	}
	75% {
		width: 250px;
		height: 250px;
		background-color: green;
		opacity: 1;
	}
	100% {
		left: 0;
		width: 100px;
		height: 100px;
		background-color: red;
	}
}

.transformation-box {
	background-color: blue;
	width: 100px;
	height: 100px;
	transition: width 2s;
}

.transformation-box-full:hover {
	width: 300px;

}
.pulu {
	background-color: purple;
	width: 100px;
	height: 100px;
	position: relative;
	transition: left top 2s;
	top: 0;
}
.pulu-box-full:active {
	left: 100px;
	top: 100px;
}