* {
	margin: 0;
	padding: 0;
}
.section2 {
	background-color: #262a34;
	padding-top: 200px;
	padding-bottom: 170px;
	color: white;
	padding-left: 200px;
	padding-right: 200px;          
	float: left; 
	width: 100%;                                             
}
.section2 .headline {
	font-size: 43px;
	color: white;
	margin-bottom: 90px;
}
.section2 .top-banner-button {
	background-color:#41e0d8;
	color: white;
	font-size: 12px;
	margin-top: 90px;

}
.section2 ul li {
 	list-style-type: none;
}
.section2 .fifty {
	width: 50%;
	float: left;

}
.section4 {
	float: left;
	width: 100%;
	background-color: #262a34;
}
.section4 .logo{ 
 text-align: center;
 color: white;
 font-size: 43px;
 width: 83%;
 float: left;



}

.section4 ul li {
 	list-style-type: none;
 	width: 83%;
    float: left;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
   
 }
 .section4 .alina {
 	color:#51555d;
 	text-align: left;
 	

 }
 .section4. .login-inputs username {
 	background-color: #0f182f;
 }