.white-space {
	height: 30px;
}

.black-space {
	background-color: black;
	padding: 10px 0;
	color: white;
	font-size: 25px
	font-weight: bold;

}

.noPadding {
	padding: 0 !important;
}

.extraPadding {
	padding: 0 30px;
}

.title {
	background: #eb563e;
	color: black;
	padding: 10px 0 !important;
	font-size: 20px;
	text-align: center;
	font-weight: 30px;
	margin: 20px 0;

}