.noPadding.col-md-6 {
	min-height: 100vh;
}
.noPadding {
	padding: 0 !important;
}
.img-responsive {
	width: 100%;
}
.contact-section {
	background-color: #191818;
	text-align: center;
}
.contact-section p {
	margin-bottom: 0;
}
.logo-section {
	background-image: url('food-right.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}