* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 14px;
}

/*Utils*/

.displayNone {
	display: none !important;
}
.text-white {
	color: #fff;
}
.signupBackground {
	background-image: url('img/3.jpg');
	background-size: cover;
}

.right-box {
	background-image: url('img/2.png');
	background-size: cover;
	background-position: center;
}

.signinBackground {
	background-image: url('img/4.png');
}

.box {
	background-image: url('img/5.png');
}