* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 14px;
}

/*Utils*/
.noPadding {
	padding: 0;
}
body {
	padding-top: 162px !important;
}
.displayNone {
	display: none !important;
}
.text-white {
	color: #fff;
}
.signupBackground {
	background-image: url('img/3.jpg');
	background-size: cover;
}
.carousel-control {
	background: transparent !important;
}
.right-box {
	background-image: url('img/2.png');
	background-size: cover;
	background-position: center;
}

.signinBackground {
	background-image: url('img/4.png');
}
.carousel-inner {
	border-radius: 0;
}
.carousel-inner>.item {
	max-height: 550px;
	overflow: hidden;
}
.box {
	background-image: url('img/5.png');
}
.box-header {
	height: 100px;
	background: url('img/14.jpg');
	color: #fff;
	text-align: center;
	margin-top: 20px;
}